@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: inherit;
}

:root {
  --font-geist: 'Geist', sans-serif;
}

* {
  font-family: var(--font-geist);
}


path:focus, 
.recharts-sector:focus, 
.recharts-pie-sector:focus,
.recharts-curve:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.recharts-surface:focus {
  outline: none;
}

svg:focus {
  outline: none;
}