@import "tailwindcss";
@plugin "daisyui";

/* globals.css */

* {
  font-family: inherit; /* Eta dile layout parent theke font niye nibe */
}

/* Ba direct jodi full project-e apply korte chao layout e font variable set kore */
:root {
  --font-geist: 'Geist', sans-serif;
}

* {
  font-family: var(--font-geist) !important;
}

/* Click korle jate focus border na ashe */
path.recharts-sector:focus {
  outline: none !important;
}

/* Sudhu stroke remove korte chaile */
.recharts-pie-sector {
  outline: none;
}